.parent {
  width: fit-content;
  margin: 8px auto;
  padding: 10px 20px;
  border: 1px solid green;
  border-radius: 10px;
}

.title {
  display: block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.counter {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}
